<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
    </head>

    <body>
        <h1>See all the cupcakes!</h1>

        <ul id="cupcakes-list"></ul>

        <form action="" id="new-cupcake-form">
            <label for="flavor">
                Flavor:
                <input type="text" , name="flavor" />
            </label>
            <br />

            <label for="size">
                Size:
                <input type="text" , name="size" /> </label
            ><br />

            <label for="rating">
                Rating:
                <input type="text" , name="rating" /> </label
            ><br />

            <label for="image">
                Image:
                <input type="text" , name="image" /> </label
            ><br />

            <button>Submit</button>
        </form>
    </body>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
</html>
